@media (max-width: 1199.5px){
    .card{
        padding: 2.5rem 1.875rem;
    }
   

}


@media screen and (max-width: 991px) {
    .wrapper-padding{
        padding: 3.125rem 0;
    }
    .primary-btn{
        font-size: .875rem;
    }
    h1{
        font-size: 2.8125rem;
        margin-bottom: .625rem;
    }
    h2{
        font-size: 1.8125rem;
        
    }
    h3{
        font-size: 1.5125rem;
        
    }
    h4{
        font-size: 1.25rem;
        
    }
    h5{
        font-size: 1.125rem;
        
    }
    h6{
        font-size: .875rem;
        line-height: 1.35rem;
    }

    .card{
        padding: 1.875rem 1rem;
    }
    .text-box{
        text-align: center;
        margin-top: 25px;
    }

}

@media screen and (max-width: 760px) {
    .primary-btn{
        font-size: .875rem;
    }
    h1{
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }
    
    h5{
        font-size: 1.25rem;
        
    }
    .text-box{
        text-align: center;
        margin-top: 25px;
    }
    .home{
        padding: 50px;
    }
    .verticalLine{
        display: none;
    }
   
}